<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotels add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container mt-5">
        <h1>Додавання готелю</h1>
        <form action="/hotels/add/submit" method="post">
            <input type="text" name="title" placeholder="Введіть назву готелю" class="form-control"><br>
            <input type="number" name="stars" placeholder="Введіть кількість зірок 0-5" class="form-control"><br>
            <input type="number" name="rooms" placeholder="Введіть кількість кімнат" class="form-control"><br>
            <input type="number" name="cost" placeholder="Введіть ціну за одну кімнату" class="form-control"><br>
            <input type="text" name="location" placeholder="Введіть локацію" class="form-control"><br>
            <textarea type="text" name="description" placeholder="Введіть деталі" class="form-control"></textarea><br>

            <button type="submit" class="btn btn-success">Додати готель</button>
        </form>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>
